.flex-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .flex-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
// todo: figure out what is wrong with this code
//.flex-grid::after {
//  content: "";
//  flex: auto;
//}
